name: Run Unit Tests

on:
  push:
    branches:
      - main
<<<<<<< HEAD
      - task-3
=======
      - task-2
>>>>>>> main
  pull_request:
    branches:
      - main
      - task-3

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

<<<<<<< HEAD
=======
task-2
  

   
main
>>>>>>> main
